<%- include ("../partials/header") %>
<% if((currentUser && currentUser.isAdmin)){ %>
<div class="alert alert-success" role="alert">
    Welcome Administrator.
</div>
<% } %>
<header class="jumbotron">
    <div class="container">
        <h1>Welcome to RSET Connect
        </h1>
        <p>View our handpicked blogs from all over the world.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/blogs/new">Add new Blog</a>
        </p>
    </div>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% blogs.forEach(function(blog){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= blog.image %> " alt="">
            <div class="caption">
                <h4><%= blog.name %></h4>
            </div>
            <p>
                <a href="/blogs/<%= blog._id %> " class="btn btn-primary">More Info</a>
            </p>
        </div>
    </div>
    <% }); %>
</div>
<%- include ("../partials/footer") %>