<%- include ("../partials/header") %>
<div class="row">
    <div class="col-md-3">
        <p class="lead">RSET Connect</p>
        <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
    </div>

    <!-- MAP GOES HERE -->
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= blog.image %>" alt="Please Refresh Page">
            <div class="caption-full">
                <h4>
                    <a href="#"><%=blog.name%></a>
                </h4>
                <p>
                    <%= blog.description%>
                </p>
                <p>
                    <em>
                        Submitted By
                        <%= blog.author.username %>
                    </em>
                </p>
                <% if((currentUser && blog.author.id.equals(currentUser._id))||(currentUser && currentUser.isAdmin)){ %>
                <a href="/blogs/<%= blog._id %>/edit" class="btn btn-warning">Edit</a>

                <form class="delete-form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <div class="well">
            <div class="text-right">
                <a href="/blogs/<%= blog._id %>/comments/new" class="btn btn-success"> Add New
                    Comment</a>
            </div>
            <hr>
            <% blog.comments.forEach(function(comment){ %>
            <div class="row comment">
                <div class="col-md-12">
                    <strong> <%= comment.author.username %>
                    </strong>
                    <span class="pull-right">10 Days ago</span>
                    <p><%= comment.text %></p>

                    <% if((currentUser && comment.author.id.equals(currentUser._id))||(currentUser && currentUser.isAdmin)){ %>
                    <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit"
                        class="btn btn-xs btn-warning">Edit</a>
                    <form class="delete-form" action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE"
                        method="POST">
                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                    </form>
                    <% } %>

                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>